.col-sm-4, .col-sm-3, .col-sm-5{
    margin: 5px;
    background-color: aliceblue;
    padding: 10px;
}
.col-sm-12{
    margin: 5px;
    background-color: aliceblue;
    padding: 10px;
}
.noteArea{
    margin: 100px;
}

.enemy{
    margin: 5px;
    padding: 5px;
    background-color: aliceblue;
}

input{
    width: 60px;
}

.dieother{
    background-color: blue;
}

.removeButon{
    width: 10px;
    float: right;
    border: 3px;
}

#enemyname{
    width: 120px;
}

#rollTotalResult{
    text-align: center;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

textarea {
    background-color: rgb(213, 235, 255) !important;
    resize: none !important;
    outline: none !important;
    width: 100%;
    border: 2px !important;
    border-style: groove !important;
    border-color: rgb(132, 140, 255) !important;
}

#savedRollName{
    width: 100%;
}

.fas{
    float: right;
    cursor: pointer;
}